<footer class="main-footer">
    <div class="row">
        <div class="col-sm-12 d-none d-sm-inline-block">
            <div id="divContactDetails"></div>
        </div>
        <div class="col-sm-12 text-right d-none d-sm-inline-block">
            Version 1.0.2
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        SetHeaderElements('panelHeaderElements');
        SetFooterElements('divContactDetails');
    });
</script>


