<div class="card card-primary card-outline card-tabs" id="tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="ComplaintTab" data-toggle="pill" href="#divComplaintTab" role="tab" aria-controls="ComplaintTab" aria-selected="true">Complaint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="AttachmentFileTab" data-toggle="pill" href="#divAttachmentFileTab" role="tab" aria-controls="AttachmentFileTab" aria-selected="false">Attachment File</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="divComplaintTab" role="tabpanel" aria-labelledby="divComplaintTab">               
                <div class="row">
                    <div class="col-md-5">
                        <partial name="_ComplaintDetails" />
                    </div>
                    <div class="col-md-7">
                        <button class="btn btn-sm btn-info" onclick="AddEdit('@Model.ComplaintGridViewModel.Id')">Edit Complaint</button>
                        <br />
                        <h4>Comment History</h4>
                        <partial name="_CommentHistory" />
                        <partial name="_AddNewComment" />
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="divAttachmentFileTab" role="tabpanel" aria-labelledby="divAttachmentFileTab">
                <h4>Attachment File</h4>
                <div>
                    <partial name="_AttachmentDetails" />
                </div>
            </div>
        </div>
    </div>
</div>
