
<div class="col-xs-12">
    <div class="panel panel-bd" style="background-color:white;">
        <div class="panel-body">
            <div class="statistic-box">
                <div id="containerPIE" style="min-width: 400px; height: 400px; margin: 0 auto">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/highcharts.js"></script>
<script src="~/js/dataHighcharts.js"></script>