<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-sm btn-danger" onclick="AddEdit(-1)">Add New</button>
                </div>
                <div class="col-md-6 pull-right">
                    <h5 class="pull-right"><b>&nbsp;Complaint List</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblComplaint" class="ItemTranTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Assign To</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Complainant</th>
                        <th>Created Date</th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>


