@model ComplaintMngSys.Models.UserAccountViewModel.ResetPasswordViewModel

<div>
    <div class="row">
        <div class="col-md-12">
            <form id="frmResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ApplicationUserId" />

                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="button" value="Reset Password" onclick="ResetUserPassword()" class="btn btn-info">
                    <button type="button" id="btnResetPasswordClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    var ResetUserPassword = function () {
        if (!FieldValidation('#NewPassword')) {
            FieldValidationAlert('#NewPassword', 'New Password is Required.', "warning");
            return;
        }
        if (!FieldValidation('#ConfirmPassword')) {
            FieldValidationAlert('#ConfirmPassword', 'Confirm Password is Required.', "warning");
            return;
        }

        if (!$("#frmResetPassword").valid()) {
            FieldValidationAlert('#ConfirmPassword', 'Please fill up all input properly.', "warning");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/UserManagement/ResetPasswordAdmin",
            data: PreparedFormObj(),
            processData: false,
            contentType: false,
            success: function (result) {
                var _error = result.substring(0, 5);
                if (_error == 'error') {
                    var _result = result.slice(5);
                    Swal.fire({
                        title: _result,
                        icon: "warning"
                    }).then(function () {
                        setTimeout(function () {
                            $('#NewPassword').focus();
                        }, 400);
                    });
                }
                else {
                    Swal.fire({
                        title: result,
                        icon: "success"
                    }).then(function () {
                        document.getElementById("btnResetPasswordClose").click();
                    });
                }
            },
            error: function (errormessage) {
                SwalSimpleAlert(errormessage.responseText, "warning");
            }
        });
    }

    var PreparedFormObj = function () {
        var _FormData = new FormData()
        _FormData.append('ApplicationUserId', $("#ApplicationUserId").val())
        _FormData.append('NewPassword', $("#NewPassword").val())
        _FormData.append('ConfirmPassword', $("#ConfirmPassword").val())
        return _FormData;
    }
</script>