<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;Audit Logs List</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblAuditLogs" class="ItemTranTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Id</th>
                        <th>Type</th>
                        <th style="background-color: gray;">Table Name</th>
                        <th>Date Time</th>                                              
                        <th>Primary Key</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/AuditLogs/AuditLogs_CRUD.js"></script>
<script src="~/js/AuditLogs/AuditLogs_Datatable.js"></script>
