<div class="modal fade" id="ImageViewModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-8">
                    <h3 id="titleImageViewModal" class="modal-title">Title</h3>
                </div>
                <div class="col-md-pull-4 pull-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                </div>
            </div>
            <div class="modal-body" id="ImageViewModalDiv">
                <div>
                    <div class="image">
                        <img id="UserImage" class="col-12" alt="User Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
