<div class="modal fade" id="SmallModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-8">
                    <h3 id="titleSmallModal" class="modal-title">Title</h3>
                </div>
                <div class="col-md-pull-4 pull-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                </div>
            </div>
            <div class="modal-body" id="SmallModalDiv">
            </div>
        </div>
    </div>
</div>